/* = SELECTED FILE NAME
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Form_filename {
    position: absolute;
    font-weight: normal;
    color:#888;
    overflow: hidden
}

.Zebra_Form_filename a {
    font-weight: bold;
    color: #C40000;
    text-decoration: none;
    margin-left: 5px
}

/* = ERROR MESSAGE TOOLTIPS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Form_error_message {
    position: absolute;
    z-index: 21;
    overflow: hidden;
    background: transparent;
}

.Zebra_Form_error_message .message {
    background: #000;
    padding: 10px 18px 10px 10px;
    color: #FFF;
    line-height: inherit;
    font-size: inherit;
    font-weight: normal;
    margin-right: 6px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    *margin-right: 0;
    max-width: 250px;
    _width:expression(document.body.clientWidth > 250 ? '250px': 'auto'); /* max-width for IE6 */
}

.Zebra_Form_error_message .noclose {
    padding: 10px;
}

.Zebra_Form_error_message .close {
    position: absolute;
    color: #FFF;
    right: 5px;
    top: 4px;
    display: block;
    width: 10px;
    height: 10px;
    background: url('close.png') no-repeat;
    text-indent: -9000px;
    padding:0;
    overflow: hidden;
    *right: 3px;
    *top: 3px;
}

.Zebra_Form_error_message .close-ie6 {
    position: absolute;
    color: #FFF;
    right: 4px;
    top: 2px;
    text-decoration: none;
    font-family: arial, sans;
    font-weight: bold;
    font-size: 11px;
}

.Zebra_Form_error_message .arrow {
    position:relative;
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    left: 0;
    bottom: 0;
    z-index: 3;
    float: left;
    _border-left-color: pink;
    _border-bottom-color: pink;
    _border-right-color: pink;
    _filter: chroma(color=pink);
    _margin-bottom: -6px
}

/* = DROP DOWNS WITH "OTHER" OPTION
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Form input.other-invisible,
.Zebra_Form input.other-invisible {
    display: none
}

/* = PLACEHOLDER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Form_Placeholder {
    position: absolute;
    border: none !important;
    background: transparent !important;
    resize: none !important;
}

.Zebra_Form_Placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
input:-moz-placeholder {
    color:#9C9CA2 !important;
}

/* = CHARACTER COUNTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Character_Counter {
    position: absolute;
    background: #FFF;
    text-align: right;
    border: 1px solid #AAA;
    background: #EAEAEA;
    color: #222;
    font-size: 11px;
    font-weight: normal;
    padding: 0 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .8
}

.show-character-counter {
    resize: none;
}
.Zebra_Character_Counter span {
    color: #C40000;
}

/* = CAPTCHA
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Form div.captcha-container {
    position: relative;
}

.Zebra_Form div.captcha-container img {
    border: 1px solid #CCC;
}

.Zebra_Form div.captcha-container a {
    position: absolute;
    text-indent: -9000px;
    display: block;
    width: 16px;
    height: 16px;
    left: 131px;
    top: 15px;
    background: #FFF url('ico-refresh.png') no-repeat center center;
    border: 1px solid #CCC;
    padding: 2px;
    _background-image: url('ico-refresh.gif');
}

/* = OTHERS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Form div.hidden .text {
    display: none;  /* hide the honeypot */
}

.Zebra_Form span.underline {
    text-decoration: underline;
    color: #666;
}

.Zebra_Form .modifier-uppercase {
    text-transform: uppercase;
}

.Zebra_Form .modifier-lowercase {
    text-transform: lowercase;
}

.Zebra_Form select option.dummy {
    font-size: 0em; /* used when creating nested selects */
}

.Zebra_Form_spinner {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('spinner.gif');
    margin: 3px 0 0 10px;
}

.Zebra_Form .Zebra_Form_Input_Prefix {
    color: #888;
    padding: 0;
    margin-right: 2px;
}

.Zebra_Form input.password {
}